doctype html

head
  //- Google Tag Manager(Google Analytics)
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PK63JQ2');
  title MIRAI BASE
  meta(charset='utf-8')
  meta(
    name='description',
    content='コワーキングスペース MIRAI BASEは、現在函館で多方面に活躍する方々や、これから活躍していく方々の活動拠点となるための共同作業場です。個人での作業やグループでの作業、フィールドワークの拠点、共通の技術を用いる仲間とのコミュニケーション、ものづくりなどにご利用ください。'
  )
  meta(name='keywords', content='コワーキングスペース,作業場,MIRAIBASE,未来ベース,ミライベース,貸しオフィス')
  meta(name='viewport', content='width=device-width,initial-scale=1.0')

  //- meta(name='robots' content='noindex')
  link(rel='icon', type='image/png', href='./images/favicon.png')
  link(rel='apple-touch-icon', href='./images/apple-touch-icon.png')

  meta(name='og:title', content='コワーキングスペース MIRAI BASE')
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://miraibase.jp/')
  meta(property='og:image', content='https://miraibase.jp/ogimage.png')
  meta(property='og:site_name', content='コワーキングスペース MIRAI BASE')
  meta(
    property='og:description',
    content='MIRAI BASEは、函館で多方面に活躍する方々や、これから活躍していく方々の活動拠点となるための共同作業場です。'
  )
  meta(name='twitter:card', content='summary')
  meta(name='twitter:title', content='コワーキングスペース MIRAI BASE')
  meta(name='twitter:text:title', content='コワーキングスペース MIRAI BASE')
  meta(
    name='google-site-verification',
    content='kqErxoADTB_P6UWPz_i5AUn5yk92sazePhYIxZYR09E'
  )

#jump
  .toTop
    a(href='#') Top

#topview
  img.logo(src='./images/mb-logo-vartical-green.svg', alt='')
  p 経験の芽を育てる土壌
  a(href='#scrollDown')
    - for (let i = 0; i < 3; i++)
      div

#scrollDown
  - for (let i = 0;i < 4;i++)
    .line 

#news.section
  h2 ドロップインご利用可能時間変更のお知らせ
  section.announcement
    p.overview
      p
        span.strong 7月15日
        | より ご利用可能時間が変更となりました。お越しの際はご注意ください。
      p 変更前：利用可能日時 毎週金曜日 14:00 ~ 20:00
      p 変更後：利用可能日時 毎週
        span.strong 月曜日
        | 14:00 ~ 20:00

#first.bc-green.section
  h2 直近のイベント

#event.bc-green.section
  .list
    .post(v-for='event in events')
      a(:href='event.link', target='_blank')
        img(
          :src='event.imageSrc',
          :alt='event.title',
          v-bind:style='thumbnailStyle',
          @load='switchLoadingStyle'
        )
        img.loading(
          src='./images/loading-white.svg',
          v-bind:style='loadingStyle',
          alt='loading'
        )
      p.eventStatus(v-bind:class='event.statusColor') {{ event.status }}
      h3 {{ event.title }}
      p.eventDate {{ event.startDate }}
      p(v-HTML='event.desc')
  .error
    p {{ errorMessage }}

#about.section
  h2 函館で頑張るみんなの基地
  .content
    .text
      p MIRAI BASEは、学生や社会人のみなさまの活動拠点としてご利用いただいている共同作業場です。
      p 個人での作業やグループでの作業、フィールドワークの拠点、共通の技術を用いる仲間とのコミュニケーションやものづくりなどにご利用ください。
      p 電源、無線LANなどの各種インフラに加え、プリンタやディスプレイ、プロジェクターなどの機材、また事務用品、会議室など、複数人で利用可能な設備もご用意しております。
    .room
      .item
        img(src='./images/asoviva.jpg', alt='asoviva')
        h3 asoviva - ラフな作業場
        p コミュニケーションを取りながら作業できる空間。グループで相談しながら開発を行ったり、少人数で打ち合わせをしたりといった形でご利用いただけます。
        p 利用可能人数:20人
      .item
        img(src='./images/dummy.png', alt='sigotova')
        h3 sigotova - 静かな作業場
        p 静かに集中して作業できる空間。個人の課題に集中したり、書類仕事を行ったりと、なにかに邪魔されたくない作業ができる部屋です。
        p 利用可能人数:20人
#service.bc-green.section
  h2 サービス / 設備
  .list
    .item
      img(src='./images/service-drink.svg', alt='ソフトドリンク販売')
      h3 ソフトドリンク販売
      p 格安でドリンクを提供しております。お越しの際にメニューをご確認ください。
    .item
      img(src='./images/service-wifi.svg', alt='無線LAN')
      h3 無線LAN
      p 利用者専用のWi-Fiをご用意しております。パスワードはお越しの際にご確認ください。
    .item
      img(src='./images/service-printer.jpg', alt='プリンタ, スキャナ')
      h3 プリンタ&amp;スキャナ
      p Wi-Fi経由で印刷, スキャンが可能です。使用できる紙のサイズはA4, A3, B4, B3です。
    .item
      img(src='./images/service-dengen.jpg', alt='電源')
      h3 電源
      p 各所にご用意しております。混雑している際は譲り合ってご利用ください。
    .item
      img(src='./images/service-projector.jpg', alt='プロジェクター')
      h3 プロジェクター
      p イベントや会議の際にご利用いただけます。詳しくはスタッフまでお声がけください。
    .item
      img(src='./images/service-whiteboard.jpg', alt='ホワイトボード')
      h3 ホワイトボード
      p 一人でも複数人でもご利用いただけます。小さいサイズもご用意しております。
    .item
      img(src='./images/service-meetingRoom.jpg', alt='会議室')
      h3 会議室
      p 一時間ごとに利用枠を設けております。ご利用の際は受付にてお申込みください。
    .item
      img(src='./images/service-microwave.jpg', alt='電子レンジ')
      h3 電子レンジ
      p あたためますか？

#price.section
  h2 ご利用料金
    img.tag(src='./images/new-makinas-greenicon.svg')
  p.plansInfo 価格はすべて税込です。
  .list
    .item.--wide
      h3 一般料金（企業・団体・フリーランス）
      .paymentPattern
        h4.paymentPatternName 会議室 1名利用
        .paymentPatternPlan 1時間
        .paymentPatternPay 500円
        .paymentPatternPlan 12時間
        .paymentPatternPay 4,800円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 9,600円
        h4.paymentPatternName 会議室 2名利用(1人あたり料金)
        .paymentPatternPlan 1時間
        .paymentPatternPay 400円
        .paymentPatternPlan 12時間
        .paymentPatternPay 3,840円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 7,680円
        h4.paymentPatternName 会議室 3名以上利用(1室あたり料金)
        .paymentPatternPlan 1時間
        .paymentPatternPay 1,200円
        .paymentPatternPlan 12時間
        .paymentPatternPay 11,520円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 23,040円
        h4.paymentPatternName オープンスペース利用 (1人あたり料金)
        .paymentPatternPlan 1時間
        .paymentPatternPay 400円
        .paymentPatternPlan 12時間
        .paymentPatternPay 3,840円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 7,680円
        h4.paymentPatternName オープンスペース 貸し切り
        .paymentPatternPlan 1時間
        .paymentPatternPay 3,000円
        .paymentPatternPlan 12時間
        .paymentPatternPay 28,800円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 57,600円
        h4.paymentPatternName 店先利用
        .paymentPatternPlan 1時間
        .paymentPatternPay 500円
        .paymentPatternPlan 12時間
        .paymentPatternPay 4,800円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 9,600円
  .list
    .item.--wide
      h3 サークル・非営利団体・求職者
      .paymentPattern
        h4.paymentPatternName 会議室 1名利用
        .paymentPatternPlan 1時間
        .paymentPatternPay 250円
        .paymentPatternPlan 12時間
        .paymentPatternPay 2,400円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 4,800円
        h4.paymentPatternName 会議室 2名利用(1人あたり料金)
        .paymentPatternPlan 1時間
        .paymentPatternPay 200円
        .paymentPatternPlan 12時間
        .paymentPatternPay 1,920円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 3,840円
        h4.paymentPatternName 会議室 3名以上利用(1室あたり料金)
        .paymentPatternPlan 1時間
        .paymentPatternPay 600円
        .paymentPatternPlan 12時間
        .paymentPatternPay 5,760円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 11,520円
        h4.paymentPatternName オープンスペース利用 (1人あたり料金)
        .paymentPatternPlan 1時間
        .paymentPatternPay 200円
        .paymentPatternPlan 12時間
        .paymentPatternPay 960円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 1,920円
        h4.paymentPatternName オープンスペース 貸し切り
        .paymentPatternPlan 1時間
        .paymentPatternPay 1,500円
        .paymentPatternPlan 12時間
        .paymentPatternPay 14,400円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 28,800円
        h4.paymentPatternName 店先利用
        .paymentPatternPlan 1時間
        .paymentPatternPay 250円
        .paymentPatternPlan 12時間
        .paymentPatternPay 2,400円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 4,800円
  .list
    .item.--wide
      h3 小・中・高校生・学生・教員など
      .paymentPattern
        h4.paymentPatternName 会議室利用 (1人あたり料金)
        .paymentPatternPlan 2時間
        .paymentPatternPay 100円
        .paymentPatternPlan 12時間
        .paymentPatternPay 600円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 1,200円
        h4.paymentPatternName 会議室利用 (1室あたり料金)
        .paymentPatternPlan 2時間
        .paymentPatternPay 300円
        .paymentPatternSpacer
        .paymentPatternSpacer
        .paymentPatternSpacer
        .paymentPatternSpacer
        h4.paymentPatternName オープンスペース利用 (1人あたり料金)
        .paymentPatternPlan 2時間
        .paymentPatternPay 100円
        .paymentPatternPlan 12時間
        .paymentPatternPay 600円
        .paymentPatternPlan 24時間
        .paymentPatternPay.isLast 1,200円
        h4.paymentPatternName オープンスペース 貸し切り
        .paymentPatternPlan 2時間
        .paymentPatternPay 600円
        .paymentPatternSpacer
        .paymentPatternSpacer
        .paymentPatternSpacer
        .paymentPatternSpacer
  .list
    .item.--wide
      h3 コワーキングプラン月額会員
      p.info 定額で契約月内の営業日に何度でもコワーキングスペースをご利用いただけます。
      .list
        .item
          .wideItem
            h4 ベーシックプラン
            .price
              .plan 一ヶ月ごと
              .pay 10,000円
                span.taxNotion （税別）
            .can
              .content
                .line 平日10:00-19:00
                .line 自由に利用可
            .can
              .content 郵便受付
        .item
          .wideItem
            h4 シルバープラン
            .price
              .plan 一ヶ月ごと
              .pay 20,000円
                span.taxNotion （税別）
            .can
              .content ベーシックプランのすべてのサービス
            .can
              .content 非会員を招待しての会議利用: 2日/月まで
            .can
              .content ロッカー貸出
        .item
          .wideItem
            h4 ゴールドプラン
            .price
              .plan 一ヶ月ごと
              .pay 30,000円
                span.taxNotion （税別）
            .can
              .content シルバープランのすべてのサービス
            .can
              .content 非会員を招待しての会議利用: 3日/月まで
            .can
              .content 登記住所としての利用（要審査）
            .can
              .content 郵便物の転送: 週1回, 封筒代送料はお客様負担
            .can
              .content メインスペースの鍵の貸出
      p.info 詳しくはお問い合わせ頂くか、来訪時にスタッフまでお申し出ください。
      p.info 上記以外の時間での利用(朝8時頃から利用したい・朝まで利用したいなど)・その他の日程(土日・別曜日)の希望につきましては、個別にご相談に応じます。スタッフの予定の関係上、なるべく前日までに電話連絡(中村 070-2679-1920 )をお願いいたします。
  .list
    .item.--wide
      h3 バーチャルオフィスプラン会員
      p.info コワーキングスペースの利用を最小限にしオフィスとしての機能をレンタルできるプランです。
      .list
        .item
          .wideItem
            h4 ベーシックプラン
            .price
              .plan 一ヶ月ごと
              .pay 10,000円
                span.taxNotion （税別）
            .can
              .content 非会員を招待しての会議利用: 2日/月まで
            .can
              .content 郵便受付
            .can
              .content 所在地としての使用
        .item
          .wideItem
            h4 シルバープラン
            .price
              .plan 一ヶ月ごと
              .pay 20,000円
                span.taxNotion （税別）
            .can
              .content ベーシックプランのすべてのサービス
            .can
              .content 非会員を招待しての会議利用: 3日/月まで
            .can
              .content 電話回線の設置
            .can
              .content 郵便物の転送: 週1回, 封筒代送料はお客様負担
            .can
              .content 登記住所としての使用（要審査）
        .item
          .wideItem
            h4 ゴールドプラン
            .price
              .plan 一ヶ月ごと
              .pay 30,000円
                span.taxNotion （税別）
            .can
              .content シルバープランのすべてのサービス
            .can
              .content ロッカー貸出
            .can
              .content 郵便物受け取りのお知らせ
            .can
              .content スタッフによる来客対応（要予約）
            .can
              .content コワーキングスペース利用: 月5回まで
      p.info 詳しくはお問い合わせ頂くか、来訪時にスタッフまでお申し出ください。
      p.info 上記以外の時間での利用(朝8時頃から利用したい・朝まで利用したいなど)・その他の日程(土日・別曜日)の希望につきましては、個別にご相談に応じます。スタッフの予定の関係上、なるべく前日までに電話連絡(中村 070-2679-1920 )をお願いいたします。
  .list
    .item.--wide
      h3 サポータープラン会員
      p.info コワーキングスペースの利用を最小限にしオフィスとしての機能をレンタルできるプランです。
      .list
        .item
          .wideItem
            h4 ベーシックプラン
            .price
              .plan 一ヶ月ごと
              .pay 10,000円
                span.taxNotion （税別）
            .can
              .content 非会員を招待しての会議利用: 2日/月まで
            .can
              .content パネル掲示
        .item
          .wideItem
            h4 シルバープラン
            .price
              .plan 一ヶ月ごと
              .pay 20,000円
                span.taxNotion （税別）
            .can
              .content 非会員を招待しての会議利用: 3日/月まで
            .can
              .content ベーシックプランのすべてのサービス
        .item
          .wideItem
            h4 ゴールドプラン
            .price
              .plan 一ヶ月ごと
              .pay 30,000円
                span.taxNotion （税別）
            .can
              .content 非会員を招待しての会議利用: 3日/月まで
            .can
              .content イベント企画運営サポート
      p.info 詳しくはお問い合わせ頂くか、来訪時にスタッフまでお申し出ください。
      p.info 上記以外の時間での利用(朝8時頃から利用したい・朝まで利用したいなど)・その他の日程(土日・別曜日)の希望につきましては、個別にご相談に応じます。スタッフの予定の関係上、なるべく前日までに電話連絡(中村 070-2679-1920 )をお願いいたします。
#reserved.section
  h2 部屋の貸し切り利用について
  p MIRAI BASE内の部屋は、イベントや勉強会等で占有してご利用いただけます。ご利用の際は、代表者様のお名前・目的・ご利用人数・ご利用日時を予めお知らせください。貸切利用料は会場で代表者様よりお支払いいただきます。なお、部屋の貸切利用料にはMIRAI BASEの通常利用料が含まれております。
  p ご不明な点がございましたらお問い合わせください。

#calendar.section
  h2 MIRAI BASEの営業日
    img.tag(src='./images/update-makinas-greenicon.svg')
  #gcal.gcal

#map.section
  h2 アクセス
  iframe.map(
    src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.642528536144!2d140.75497011585747!3d41.81446057922727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9ef42ee2a8a8f9%3A0x465635e7d9334cc8!2sMIRAI+BASE!5e0!3m2!1sja!2sjp!4v1519789031434',
    width='600',
    height='450',
    frameborder='0',
    style='border:0',
    allowfullscreen
  )

#contact.section
  h2 MIRAI BASEへのお問い合わせ
  .informations
    .list
      .item
        img.mail(src='./images/contact-mail.svg', alt='')
        p mirai.base.hkd[atmark]gmail.com
      .item
        img.phone(src='./images/contact-phone.svg', alt='')
        p 070-2679-1920
      .item
        img.twitter(src='./images/contact-tw.svg', alt='')
        a(href='https://twitter.com/mirai_base') @mirai_base
      .item
        img.facebook(src='./images/contact-fb.svg', alt='')
        a(href='https://www.facebook.com/miraibase.hkd/') miraibase.hkd
    .announce
      .open
        h4 営業時間
        p 
          a(href='#calendar') 本ページ営業日カレンダー
          | をご確認ください。

      .exception
        p 天候などにより営業時間が変動する場合がございます。営業状態または延長・短縮営業のご確認の際には <a href='https://twitter.com/mirai_base'>MIRAIBASEのTwitterアカウント</a> をご確認ください。

footer.bc-green.section
  img(src='./images/mb-logo-horizontal-white.svg', alt='')
  p 〒041-0806 北海道函館市 美原２丁目７−２１ 万勝ビル１F
  p 070-2679-1920

script(src='app.js')

// Google Tag Manager (noscript)
noscript
  iframe(
    src='https://www.googletagmanager.com/ns.html?id=GTM-PK63JQ2',
    height='0',
    width='0',
    style='display:none;visibility:hidden'
  )
// End Google Tag Manager (noscript)
